<div class="container p-1 d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to root_path do %>
      <%= image_tag "popcorn.png", alt: "Popcorn", class: "logo" %>
    <% end %>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <i class="fa-solid fa-plus"></i>
      </span>
    </button>
  </div>

  <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
    <div class="d-flex flex-row justify-content-end gap-3 mt-2">
      <%= link_to "My lists", root_path, class: "btn btn-primary" %>
      <%= link_to "New list", new_list_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
